# Entorno virtual
venv/
.env/
.env.bak
*.env

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.tmp

# Configuración de IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
